/********/
/* Main */
/********/

main {
  margin: 0.75em;
  margin-top: 4em;
}

article {
  background-color: $white;
  @extend %primary-shadow;
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 1em;

  div.nameAndAvatar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1em;

    img {
      border-radius: 50%;
      width: 8em;
      height: 8em;
    }

    h2 {
      margin: 0 1em;
    }
  }

  h2 {
    margin: 1em 0 0.5em 0;
  }

  div.movieGrid {
    @include mobile-grid;
  }

  div.likeDislikeButtons {
    @include mobile-grid;
    margin-top: 1em;

    button {
      justify-self: center;
      width: 6em;
    }
  }
}

article.chat {
  display: flex;
  flex-direction: row;
  @extend %primary-shadow;

  img {
    width: 4em;
    height: 4em;
    border-radius: 50%;
  }

  div.chatText {
    display: flex;
    flex-direction: column;

    margin: -1em 0 0 1em;
  }
}

section {
  display: flex;
  flex-direction: column;

  h1 {
    margin-bottom: 1em;
  }

  h2 {
    margin: 0.5em 0 1em 0;
  }

  h3 {
    margin-bottom: 1em;
  }

  a.btn {
    background-color: $primary-color;
    @extend %primary-shadow;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    color: black;
  }

  form#login {
    fieldset {
      display: flex;
      flex-direction: column;

      input {
        margin: 0.5em 0 1.5em 0;
        width: 100%;
        font-size: 1em;
      }

      input[type=submit] {
        background-color: $primary-color;
        border-radius: 1em;
        height: 3.5em;
        margin-top: 1.5em;
        @extend %primary-shadow;
      }
    }
  }

  form#matchPrefs {
    fieldset {
      margin-bottom: 1em;
      font-size: 1em;

      h3 {
        margin-bottom: 0.5em;
      }

      input[type=checkbox], input[type=radio] {
        display: block;
        margin-top: 0.5em;
      }

      .btn {
        background-color: $primary-color;
        @extend %primary-shadow;
        border-radius: 2em;
        padding: 1em;
        text-align: center;
        font-size: 1em;
        width: 100%;

      }
    }

    fieldset#genderPref {
      display: flex;
      flex-direction: column;
    }
  }

  form fieldset {
    input[type=text] {
      font-size: 1em;
      margin-bottom: 1em;
    }
  }

  div.movieGrid {
    @include mobile-grid;
  }
}
