/******************/
/* General styles */
/******************/

$primary-color: #FFF;
%primary-shadow {
  box-shadow: 0 0.1rem grey;
}
$light-grey: #e6e6e9;
$white: #FFF;

@mixin checkbox-image {
  label img {
    transition: 0.2s;
  }

  div.checkboxImg {
    input[type=checkbox] {
      display: none;
    }

    .checkbox:checked + label img {
      opacity: 0.5;
    }
  }
}

@mixin mobile-grid() {
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 1em;

  img {
    width: 100%;
    margin-bottom: 0.5em;
  }

  img:nth-child(odd) {
    align-self: flex-start;
    grid-column: 1 / 1;
  }

  img:nth-child(even) {
    align-self: flex-end;
    grid-column: 2 / 2;
  }
}

body {
  font-size: 1em;
  font-family: sans-serif;
  background-color: $light-grey;
}

button {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4  {
  font-size: 1.1em;
}
