/********/
/* Main */
/********/

main {
  margin: 0.75em;
  margin-top: 4em;
}

article {
  background-color: $white;
  @extend %primary-shadow;
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 1em;

  a {
    text-decoration: underline;
  }

  div.nameAndAvatar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1em;

    div {
      border-radius: 50%;
      width: 8em;
      height: 8em;
      overflow: hidden;

      img {
        height: 8em;
      }
    }

    h2 {
      margin: 0 1em;
    }
  }

  h2 {
    margin: 1em 0 0.5em 0;
  }

  div.movieGrid {
    @include mobile-grid;
  }

  div.likeDislikeButtons {
    @include mobile-grid;
    margin-top: 1em;

    button {
      justify-self: center;
      width: 6em;
    }
  }
}

main a {
  text-decoration: none;
  color: black;
}

article.chat {
  display: flex;
  flex-direction: row;
  @extend %primary-shadow;

  img {
    width: 4em;
    height: 4em;
    border-radius: 50%;
  }

  div.chatText {
    display: flex;
    flex-direction: column;

    margin: -1em 0 0 1em;
  }
}

section {
  display: flex;
  flex-direction: column;

  h1 {
    margin-bottom: 1em;
  }

  h2 {
    margin: 0.5em 0 1em 0;
  }

  h3 {
    margin-bottom: 1em;
  }

  a.btn {
    background-color: $primary-color;
    @extend %primary-shadow;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    color: black;
  }

  form#login {
    fieldset {
      display: flex;
      flex-direction: column;

      input {
        margin: 0.5em 0 1.5em 0;
        width: 100%;
        font-size: 1em;
      }

      input[type=submit] {
        background-color: $primary-color;
        border-radius: 1em;
        height: 3.5em;
        margin-top: 1.5em;
        @extend %primary-shadow;
      }

      p {
        margin-bottom: 1em;
        text-decoration: underline;
      }

      button {
        background-color: $primary-color;
        @extend %primary-shadow;
        border-radius: 1em;
        margin: 1em 0 2em 0;
        padding: 1em;
        text-align: center;
        text-decoration: none;
        color: black;
      }
    }

    h3 {
      margin-top: 1em;
    }

    a {
      text-decoration: underline;
    }
  }

  form#matchPrefs {
    fieldset {
      margin-bottom: 1em;
      font-size: 1em;

      h3 {
        margin-bottom: 0.5em;
      }

      input[type=checkbox], input[type=radio] {
        display: block;
        margin-top: 0.5em;
      }

      .btn {
        background-color: $primary-color;
        @extend %primary-shadow;
        border-radius: 2em;
        padding: 1em;
        text-align: center;
        font-size: 1em;
        width: 100%;
      }
    }

    fieldset#genderPref {
      display: flex;
      flex-direction: column;
    }
  }

  form fieldset {
    input[type=text] {
      font-size: 1em;
      margin-bottom: 1em;
    }
  }

  div.movieGrid {
    @include mobile-grid;
    @include checkbox-image;
  }
}

.settingsForm {
  label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }

  input[type=text], input[type=password], input[type=file] {
    width: 100%;
    font-size: 1em;
  }

  input[type=submit] {
    margin: 0.8em 0 0.5em 0;
    display: block;
    background-color: light-grey;
    @extend %primary-shadow;
    border-radius: 0.5em;
    font-size: 1em;
    width: 8em;
    height: 2em;
    border: none;
  }

  .danger {
    background-color: #c10005;
    color: $white
  }
}

#submitSeries {
  background-color: $primary-color;
  @extend %primary-shadow;
  border-radius: 2em;
  padding: 1em;
  text-align: center;
  font-size: 1em;
  width: 100%;
}

form#matchPrefs {
  input[type=radio] {
    margin-bottom: 1.2em;
  }

  input[type=text] {
    width: 100%;
  }
  .skip-btn {
    background-color: #c10005;
    color: $white;
    @extend %primary-shadow;
    border-radius: 2em;
    padding: 1em;
    text-align: center;
    font-size: 1em;
    width: 100%;
    margin-top: 1em;
  }
}

#needlogin {
  a {
    text-decoration: underline;
  }
}

.updateBtn {
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 0.5em;
  padding: 0.5em;
}
