/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/******************/
/* General styles */
/******************/
nav, article, article.chat, section a.btn, section form#login fieldset input[type=submit], section form#login fieldset button, section form#matchPrefs fieldset .btn, .settingsForm input[type=submit], #submitSeries, form#matchPrefs .skip-btn {
  box-shadow: 0 0.1rem grey; }

body {
  font-size: 1em;
  font-family: sans-serif;
  background-color: #e6e6e9; }

button {
  border: none;
  box-shadow: none;
  background-color: transparent; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.25em; }

h4 {
  font-size: 1.1em; }

/**********/
/* Header */
/**********/
nav {
  background-color: #3480D8;
  color: #FFF;
  position: fixed;
  width: 100%;
  top: 0; }
  nav ul {
    list-style-type: none;
    display: flex; }
  nav img {
    width: 2em; }
  nav li {
    align-self: center; }
  nav li:nth-child(1) {
    flex-grow: 1;
    margin: 0.5em; }
    nav li:nth-child(1) img {
      width: 2em; }
  nav li:nth-child(2) {
    flex-grow: 1; }
  nav li:nth-child(3) img {
    width: 3em; }
  nav ul li button {
    background-color: transparent; }

@keyframes show-menu {
  100% {
    margin-right: 0; } }
@keyframes hide-menu {
  0% {
    margin-right: 0; }
  100% {
    margin-right: -10em; } }
.showMenu {
  animation: show-menu 0.2s forwards; }

.hideMenu {
  animation: hide-menu 0.2s forwards; }

nav #hamburgerMenu {
  background-color: rgba(87, 165, 255, 0.85);
  border-left: 0.1em solid black;
  padding-bottom: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  margin-right: -10em;
  transition: 0.2s;
  overflow: hidden; }
  nav #hamburgerMenu a {
    color: #FFF; }
  nav #hamburgerMenu ul {
    flex-direction: column;
    margin-right: 2.5em;
    margin-top: -0.2em; }
    nav #hamburgerMenu ul li {
      align-self: flex-start; }
    nav #hamburgerMenu ul li:nth-child(n+1) {
      margin: 1em; }
    nav #hamburgerMenu ul li:nth-child(1) {
      flex-direction: row; }
      nav #hamburgerMenu ul li:nth-child(1) h3 {
        display: inline; }
      nav #hamburgerMenu ul li:nth-child(1) img {
        width: 3em;
        margin: -0.5em -1.5em -0.5em 0; }

/********/
/* Main */
/********/
main {
  margin: 0.75em;
  margin-top: 4em; }

article {
  background-color: #FFF;
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 1em; }
  article a {
    text-decoration: underline; }
  article div.nameAndAvatar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1em; }
    article div.nameAndAvatar div {
      border-radius: 50%;
      width: 8em;
      height: 8em;
      overflow: hidden; }
      article div.nameAndAvatar div img {
        height: 8em; }
    article div.nameAndAvatar h2 {
      margin: 0 1em; }
  article h2 {
    margin: 1em 0 0.5em 0; }
  article div.movieGrid {
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 1em; }
    article div.movieGrid img {
      width: 100%;
      margin-bottom: 0.5em; }
    article div.movieGrid img:nth-child(odd) {
      align-self: flex-start;
      grid-column: 1 / 1; }
    article div.movieGrid img:nth-child(even) {
      align-self: flex-end;
      grid-column: 2 / 2; }
  article div.likeDislikeButtons {
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 1em;
    margin-top: 1em; }
    article div.likeDislikeButtons img {
      width: 100%;
      margin-bottom: 0.5em; }
    article div.likeDislikeButtons img:nth-child(odd) {
      align-self: flex-start;
      grid-column: 1 / 1; }
    article div.likeDislikeButtons img:nth-child(even) {
      align-self: flex-end;
      grid-column: 2 / 2; }
    article div.likeDislikeButtons button {
      justify-self: center;
      width: 6em; }

main a {
  text-decoration: none;
  color: black; }

article.chat {
  display: flex;
  flex-direction: row; }
  article.chat img {
    width: 4em;
    height: 4em;
    border-radius: 50%; }
  article.chat div.chatText {
    display: flex;
    flex-direction: column;
    margin: -1em 0 0 1em; }

section {
  display: flex;
  flex-direction: column; }
  section h1 {
    margin-bottom: 1em; }
  section h2 {
    margin: 0.5em 0 1em 0; }
  section h3 {
    margin-bottom: 1em; }
  section a.btn {
    background-color: #3480D8;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    color: #FFF; }
  section form#login fieldset {
    display: flex;
    flex-direction: column; }
    section form#login fieldset input {
      margin: 0.5em 0 1.5em 0;
      width: 100%;
      font-size: 1em; }
    section form#login fieldset input[type=submit] {
      background-color: #3480D8;
      color: #FFF;
      border-radius: 1em;
      height: 3.5em;
      margin-top: 1.5em; }
    section form#login fieldset p {
      margin-bottom: 1em;
      text-decoration: underline; }
    section form#login fieldset button {
      background-color: #3480D8;
      border-radius: 1em;
      margin: 1em 0 2em 0;
      padding: 1em;
      text-align: center;
      text-decoration: none;
      color: white; }
  section form#login h3 {
    margin-top: 1em; }
  section form#login a {
    text-decoration: underline; }
  section form#matchPrefs fieldset {
    margin-bottom: 1em;
    font-size: 1em; }
    section form#matchPrefs fieldset h3 {
      margin-bottom: 0.5em; }
    section form#matchPrefs fieldset input[type=checkbox], section form#matchPrefs fieldset input[type=radio] {
      display: block;
      margin-top: 0.5em; }
    section form#matchPrefs fieldset .btn {
      background-color: #3480D8;
      border-radius: 2em;
      padding: 1em;
      text-align: center;
      font-size: 1em;
      width: 100%;
      color: #FFF; }
  section form#matchPrefs fieldset#genderPref {
    display: flex;
    flex-direction: column; }
  section form fieldset input[type=text] {
    font-size: 1em;
    margin-bottom: 1em; }
  section div.movieGrid {
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 1em; }
    section div.movieGrid img {
      width: 100%;
      margin-bottom: 0.5em; }
    section div.movieGrid img:nth-child(odd) {
      align-self: flex-start;
      grid-column: 1 / 1; }
    section div.movieGrid img:nth-child(even) {
      align-self: flex-end;
      grid-column: 2 / 2; }
    section div.movieGrid label img {
      transition: 0.2s; }
    section div.movieGrid div.checkboxImg input[type=checkbox] {
      display: none; }
    section div.movieGrid div.checkboxImg .checkbox:checked + label img {
      opacity: 0.5; }

.settingsForm label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em; }
.settingsForm input[type=text], .settingsForm input[type=password], .settingsForm input[type=file] {
  width: 100%;
  font-size: 1em; }
.settingsForm input[type=submit] {
  margin: 0.8em 0 0.5em 0;
  display: block;
  background-color: light-grey;
  border-radius: 0.5em;
  font-size: 1em;
  width: 8em;
  height: 2em;
  border: none; }
.settingsForm .danger {
  background-color: #c10005;
  color: #FFF; }

#submitSeries {
  background-color: #3480D8;
  border-radius: 2em;
  padding: 1em;
  text-align: center;
  font-size: 1em;
  width: 100%;
  color: #FFF; }

form#matchPrefs input[type=radio] {
  margin-bottom: 1.2em; }
form#matchPrefs input[type=text] {
  width: 100%; }
form#matchPrefs .skip-btn {
  background-color: #c10005;
  color: #FFF;
  border-radius: 2em;
  padding: 1em;
  text-align: center;
  font-size: 1em;
  width: 100%;
  margin-top: 1em; }

#needlogin a {
  text-decoration: underline; }

.updateBtn {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
  padding: 0.5em; }

/***************/
/* Breakpoints */
/***************/
@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 1em; }
    main article.personCard:nth-child(odd) {
      grid-column: 1 / 1; }
    main article.personCard:nth-child(even) {
      grid-column: 2 / 2; }
    main article.personCard:nth-child(-n+2) {
      grid-row: 1 / 1; }
    main article.personCard:nth-child(n+3) {
      grid-row: 2 / 2; } }
@media (min-width: 1200px) {
  main {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(1, auto); }
    main section {
      grid-column: 2 / 2; }
    main article.profile {
      grid-column: 2 / 2;
      margin: 0 10em; }
    main article.personCard:nth-child(1) {
      grid-column: 1 / 1; }
    main article.personCard:nth-child(2) {
      grid-column: 2 / 2; }
    main article.personCard:nth-child(3) {
      grid-column: 3 / 3; }
    main article.personCard:nth-child(-n+3) {
      grid-row: 1 / 1; }
    main a article.chat {
      grid-column: 2 / 2; } }
@media (min-width: 1400px) {
  main {
    grid-template-columns: 10% repeat(3, auto) 10%;
    grid-template-rows: repeat(1, auto); }
    main article.profile {
      grid-column: 3 / 3; }
    main article.personCard:nth-child(1) {
      grid-column: 2 / 2; }
    main article.personCard:nth-child(2) {
      grid-column: 3 / 3; }
    main article.personCard:nth-child(3) {
      grid-column: 4 / 4; }
    main article.personCard:nth-child(-n+3) {
      grid-row: 1 / 1; } }

/*# sourceMappingURL=main.css.map */
