<%- include('head', {page: page}) %>

<main>
  <a href="chat.html">
    <article class="chat">
      <img src="images/megan.jpg" alt="Profile image">
      <div class="chatText">
        <h2>Megan</h2>
        <p>Typing...</p>
      </div>
    </article>
  </a>

  <article class="chat">
    <img src="images/julia.jpg" alt="Profile image">
    <div class="chatText">
      <h2>Julia</h2>
      <p>Yeah, I really liked that one too!</p>
    </div>
  </article>
</main>

<% include tail %>
