<%- include('head', {page: page}) %>

<main>
  <% for (i=0; i < users.length; i++) { %>

  <a href="chat.html">
    <article class="chat">
    <% if (users[i].avatar == null) { %>
    <img src="images/placeholder.jpg" alt="profile image">
    <% } else { %>
      <img src="upload/<%= users[i].avatar %>" alt="Profile image">
      <% } %>
      <div class="chatText">
        <h2><%= users[i].name %></h2>
        <p><%= users[i].tagline %></p>
      </div>
    </article>
  </a>
  <% } %>

<% include tail %>
