<% include head %>

<main>
  <article class="personCard">
    <div class="nameAndAvatar">
      <h2>Julia</h2>
      <img src="images/julia.jpg" alt="profile image">
    </div>
    <h4>"Bingewatching black mirror"</h3>
    <h2>Currently watching:</h2>
    <div class="movieGrid">
      <img src="images/black-mirror.jpg" alt="Currently watching image 1">
      <img src="images/westworld.jpg" alt="Currently watching image 2">
    </div>
    <div class="likeDislikeButtons">
      <button>
        <img src="images/close.png" alt="Dislike" class="dislike">
      </button>
      <button>
        <img src="images/like.png" alt="Like" class="like">
      </button>
    </div>
  </article>

  <article class="personCard">
    <div class="nameAndAvatar">
      <h2>Megan</h2>
      <img src="images/megan.jpg" alt="profile image">
    </div>
    <h4>"Netflix is love, netflix is life"</h3>
    <h2>Currently watching:</h2>
    <div class="movieGrid">
      <img src="images/black-mirror.jpg" alt="Currently watching image 1">
      <img src="images/westworld.jpg" alt="Currently watching image 2">
    </div>
    <div class="likeDislikeButtons">
      <button>
        <img src="images/close.png" alt="Dislike" class="dislike">
      </button>
      <button>
        <img src="images/like.png" alt="Like" class="like">
      </button>
    </div>
  </article>
</main>

<% include tail %>
