<% include head2 %>

  <main>
    <section>
      <form action="/log-in" id="login" method="post">
        <fieldset>
          <label for="email">E-mail adress</label>
          <input type="email" id="email" required name="email">

          <label for="passwd">Password</label>
          <input type="password" id="passwd" required name="password">

          <a href="#">Forgot password?</a>

          <input type="submit">
        </fieldset>
      </form>
    </section>
  </main>

<% include tail %>
