<% include head %>

<title>Need login - WatchTogether</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="login"><img src="images/back.png" alt="Chatlist icon" id="backBtn"></a></li>
      <li><h2>Need log in</h2></li>
      <li><button id="menuBtn"><img src="images/menu.png" alt="Menu"></button></li>
    </ul>
    <div id="hamburgerMenu">
      <ul>
        <li><h3>Menu</h3> <button id="closeMenu"><img src="images/close.png" alt="Close menu"></button></li>
        <li><a href="index">Home</a></li>
        <li><a href="chatlist">Chats</a></li>
        <li><a href="profile">Profile</a></li>
        <li><a href="settings">Settings</a></li>
      </ul>
    </div>
  </nav>

<main id="needlogin">
  <h1>Error 401</h1>
  <p>You need to</p>
  <a href="/login">Log in</a>
  <p>or</p>
  <a href="#" onclick="event.preventDefault(); window.history.back();">Go back</a>
</main>

<% include tail %>
