<% include head %>

<main>
  <article>
    <div class="nameAndAvatar">
      <h2>Joop</h2>
      <img src="images/placeholder.jpg" alt="Profile image">
    </div>
    <h4>"Hyped for Westworld season 2!"</h3>
    <h2>Currently watching:</h2>
    <div class="movieGrid">
      <img src="images/westworld.jpg" alt="Currently watching image 1">
      <img src="images/westworld.jpg" alt="Currently watching image 2">
    </div>
  </article>
</main>

<% include tail %>
