<%- include('head2', {page: page}) %>

  <main>
    <section>
      <h2>Step 1/3</h2>
      <form action="/" method="post" id="login">
        <fieldset>
          <label for="name">Name</label>
          <input type="text" id="name" required name="name">

          <label for="email">E-mail adress</label>
          <input type="email" id="email" required name="email">

          <p id="emailUsed"></p>

          <label for="check">Check if e-mail adress is already used</label>
          <button name="button" id="check">Check</button>

          <label for="confirmEmail">Confirm e-mail adress</label>
          <input type="email" id="confirmEmail" required>

          <label for="passwd">Password</label>
          <input type="password" id="passwd" required minlength="6" maxlength="100" name="password">

          <label for="confirmPasswd">Confirm password</label>
          <input type="password" id="confirmPasswd" required>

          <p id="warning"></p>

          <input type="submit" id="submit">
        </fieldset>
      </form>
    </section>
  </main>
  <script src="js/script.js"></script>
</body>

</html>

<% include tail %>
