<%- include('head2', {page: page}) %>

<main class="col-3" id="center-content">
  <section>
    <h1>Welcome to WatchTogether!</h1>
    <h3>Sign up today or continue without an account.</h3>
    <a href="register" class="btn">Sign up</a>
    <a href="login" class="btn">Log in</a>
    <a href="noaccount" class="btn">Continue without an account</a>
  </section>
</main>

<% include tail %>
